<app-table>
  <table id="datatable_outGoingTran" class="mt-8 divide-y rounded-lg divide-gray-200 " style="width: 100%">
    <thead class="w-full  thead-light bg-slate-900 dark:bg-blue-100 text-gray-300 dark:text-gray-900 uppercase tracking-wider rounded-lg">


        <tr class="w-full  py-6   text-xs font-medium ">
                <th  class="px-6 py-3  text-xs font-medium  uppercase tracking-wider" scope="col">#</th>

                <th class="px-6 text-xs font-medium  whitespace-nowrap" scope="col">{{'Title'}}</th>
                <th class="px-6 text-xs font-medium  whitespace-nowrap" scope="col">{{ 'Content'}}</th>
                <th  class="px-6 text-xs font-medium whitespace-nowrap " scope="col">{{'Category'}}</th>
                <th  class="px-6 text-xs font-medium whitespace-nowrap " scope="col">{{'City'}}</th>
                <th  class="px-6 text-xs font-medium whitespace-nowrap " scope="col">{{'Salary'}}</th>
                <th  class="px-6 text-xs font-medium whitespace-nowrap " scope="col">{{'Expire On'}}</th>
                <th  class="px-6 text-xs font-medium whitespace-nowrap " scope="col">{{'Action'}}</th>

        </tr>


    </thead>
    <tbody class=" divide-y divide-gray-200  " >


                <tr *ngFor="let job of data.data ;let i=index" class="whitespace-nowrap  border-b   hover:bg-indigo-50

                    gap-y-2 bg-gradient-to-r from-white to-gray-50 dark:from-indigo-300/20
                text-sm text-gray-900 dark:text-white">
                    <th scope="row">{{i+1}}</th>

                        <td   >
                            <div class="px-6 py-2  flex justify-center whitespace-nowrap ">
                                  <h3>{{job.title}}</h3>
                            </div>
                        </td>
                        <td   >
                            <div class="px-6 py-2  flex justify-center whitespace-nowrap ">
                                  <h3>{{job.content}}</h3>
                            </div>
                        </td>
                        <td   >
                            <div class="px-6 py-2  flex justify-center whitespace-nowrap ">
                                  <h3>{{job.category}}</h3>
                            </div>
                        </td>
                        <td   >
                            <div class="px-6 py-2  flex justify-center whitespace-nowrap ">
                                  <h3>{{job.city}}</h3>
                            </div>
                        </td>
                        <td   >
                            <div class="px-6 py-0.5  flex justify-center whitespace-nowrap ">
                                 <h3>{{job.salary}}</h3>
                            </div>

                        </td>
                        <td   >

                            <div class="px-6 py-0.5  flex justify-center whitespace-nowrap ">
                                  <h3>{{job.expire_on}}</h3>
                            </div>
                        </td>
                        <td   >

                            <div class="px-6 py-0.5  flex justify-center whitespace-nowrap ">
                              <button   (click)="apply(job.id)"
                                    class=" inline-flex items-center px-2 py-0   ring-1 ring-inset ring-gray-500/10 bg-sky-300/50  hover:ring-gray-500/30 text-lg hover:bg-sky-300/70 rounded-full mx-2">
                                apply
                              </button>
                            </div>
                        </td>


                </tr>


    </tbody>
    <tfoot >
    </tfoot>
  </table>
</app-table>
